@model SupplierModel
@{
    ViewData["Title"] = "Supplier Page";
}

<style>
    .page-title {
        margin: 20px 0px;
    }

    .image-main-container {
        display: flex;
        justify-content: center;
    }

    .action-image-container, .action-image {
        width: 115px;
        height: 120px;
    }

    .action-image {
        object-fit: cover;
    }

    form {
        margin-top: 35px;
    }

    .input-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 350px;
    }

    label {
        padding-right: 5px;
    }

    input[type=text], input[type=date], select {
        width: 280px;
        height: 35px;
        margin: 5px 0;
    }

    .form-container {
        display: flex;
        justify-content: center;
    }

    .form-actions-container {
        margin-top: 25px;
        display: flex;
        justify-content: flex-end;
    }

    .nav-button {
        padding: 0px 15px;
        display: flex;
        align-items: center;
        background-color: rgba(154, 0, 0, 0.72);
        border-radius: 5px;
        color: #FFFFFF;
        cursor: pointer;
        text-decoration: none;
    }

        .nav-button:hover {
            color: #FFFFFF;
        }

    .action-button {
        height: 35px;
        border-radius: 5px;
        background: #00639A;
        color: #FFFFFF;
        font-size: 15px;
        border: none;
        margin-left: 5px;
    }

    li {
        list-style-type: none;
        background-color: whitesmoke;
        padding: 4px 8px;
        width: fit-content;
        margin-bottom: 4px;
    }

    @@media only screen and (max-width: 320px) {
        .input-container {
            min-width: 0px;
        }

        input, select {
            width: 210px;
        }
    }
</style>

<h5 class="page-title">Create supplier</h5>

<div class="image-main-container">
    <div class="action-image-container">
        <img src="~/images/supplier.png" class="action-image" />
    </div>
</div>
<div class="form-container">
    <form asp-action="Create" method="post">
        <div>
            <span asp-validation-for=Name class="text-danger"></span>
        </div>
        <div class="input-container">
            <label asp-for=Name></label>
            <input type="text" asp-for=Name id="name" />
        </div>
        <div>
            <span asp-validation-for=Email class="text-danger"></span>
        </div>
        <div class="input-container">
            <label asp-for="Email"></label>
            <input type="text" asp-for="Email" />
        </div>
        <div class="form-actions-container">
            <a asp-controller="Settings" asp-action="Index" class="nav-button">Cancel</a>
            <button type="submit" class="action-button">Add Supplier</button>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/jquery/dist/jquery.js"></script>
}